<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>Settings</key>
		<dict>
			<key>logo-pushed-down</key>
			<true/>
		</dict>
		<key>Texts</key>
		<dict>
			<key>text-for-testing</key>
			<string>Test</string>
		</dict>
		<key>Colors</key>
		<dict>
			<key>category-one</key>
			<string>F7941D</string>
			<key>category-two</key>
			<string>000B45</string>
			<key>category-three</key>
			<string>A6CE43</string>
			<key>category-four</key>
			<string>228BCA</string>
			<key>brand-bar</key>
			<string>AD0009</string>
			<key>brand-text-title</key>
			<string>AD0009</string>
			<key>brand-text-regular</key>
			<string>363B37</string>
		</dict>
		<key>Images</key>
		<dict>
			<key>arrow_right</key>
			<string>lo_arrow_right</string>
			<key>front_bg</key>
			<string>lo_front_bg</string>
			<key>map-up</key>
			<string>lo_map-up</string>
			<key>myuinon</key>
			<string>lo_myuinon</string>
			<key>topbar</key>
			<string>lo_topbar</string>
			<key>logo</key>
			<string>lo_logo</string>
			<key>mycard</key>
			<string>lo_mycard</string>
			<key>arandse</key>
			<string>arandse</string>
			<key>bg_noise</key>
			<string>bg_noise</string>
			<key>bullet</key>
			<string>bullet</string>
			<key>code_0</key>
			<string>code_0</string>
			<key>code_1</key>
			<string>code_1</string>
			<key>code_erase</key>
			<string>code_erase</string>
			<key>code_num_act</key>
			<string>code_num_act</string>
			<key>code_ok</key>
			<string>code_ok</string>
			<key>discount_splash</key>
			<string>discount_splash</string>
			<key>discounts</key>
			<string>discounts</string>
			<key>favorite_active</key>
			<string>favorite_active</string>
			<key>favorite</key>
			<string>favorite</string>
			<key>filter_grid</key>
			<string>filter_grid</string>
			<key>filter_ok</key>
			<string>filter_ok</string>
			<key>filter</key>
			<string>filter</string>
			<key>lock</key>
			<string>lock</string>
			<key>offers</key>
			<string>offers</string>
			<key>pin_1</key>
			<string>pin_1</string>
			<key>pin_2</key>
			<string>pin_2</string>
			<key>pin_3</key>
			<string>pin_3</string>
			<key>pin_4</key>
			<string>pin_4</string>
			<key>pin_5</key>
			<string>pin_5</string>
			<key>pin_6</key>
			<string>pin_6</string>
			<key>pin_7</key>
			<string>pin_7</string>
			<key>pin_8</key>
			<string>pin_8</string>
			<key>pin_9</key>
			<string>pin_9</string>
			<key>pin_10</key>
			<string>pin_10</string>
			<key>quote</key>
			<string>quote</string>
			<key>search_white</key>
			<string>search_white</string>
			<key>search</key>
			<string>search</string>
			<key>tools_call</key>
			<string>tools_call</string>
			<key>tools_directions</key>
			<string>tools_directions</string>
			<key>tools_web</key>
			<string>tools_web</string>
			<key>address_call</key>
			<string>address_call</string>
			<key>address_home</key>
			<string>address_home</string>
			<key>address_mail</key>
			<string>address_mail</string>
			<key>address_webiste</key>
			<string>address_webiste</string>
			<key>call_us</key>
			<string>call_us</string>
			<key>edit</key>
			<string>edit</string>
			<key>email_us</key>
			<string>email_us</string>
			<key>go_to_website</key>
			<string>go_to_website</string>
			<key>show_directions</key>
			<string>show_directions</string>
			<key>white_arrow_back</key>
			<string>white_arrow_back</string>
		</dict>
		<key>Fonts</key>
		<dict>
			<key>type-one-regular</key>
			<string>Lato-Regular</string>
			<key>type-two-bold</key>
			<string>Roboto-Bold</string>
			<key>type-two-italic</key>
			<string>Roboto-Italic</string>
			<key>type-two-light</key>
			<string>Roboto-Light</string>
		</dict>
		<key>Icons</key>
		<dict/>
	</dict>
	<key>Test</key>
	<dict>
		<key>Colors</key>
		<dict>
			<key>category-one</key>
			<string>F7941D</string>
			<key>category-two</key>
			<string>000B45</string>
			<key>category-three</key>
			<string>A6CE43</string>
			<key>category-four</key>
			<string>228BCA</string>
			<key>brand-bar</key>
			<string>00AD09</string>
			<key>brand-text-title</key>
			<string>00AD09</string>
			<key>brand-text-regular</key>
			<string>363B37</string>
		</dict>
		<key>Images</key>
		<dict>
			<key>arrow_right</key>
			<string>test_arrow_right</string>
			<key>front_bg</key>
			<string>test_front_bg</string>
			<key>map-up</key>
			<string>test_map-up</string>
			<key>myuinon</key>
			<string>test_myuinon</string>
			<key>topbar</key>
			<string>test_topbar</string>
			<key>logo</key>
			<string>test_logo</string>
			<key>mycard</key>
			<string>test_mycard</string>
			<key>arandse</key>
			<string>arandse</string>
			<key>bg_noise</key>
			<string>bg_noise</string>
			<key>bullet</key>
			<string>bullet</string>
			<key>code_0</key>
			<string>code_0</string>
			<key>code_1</key>
			<string>code_1</string>
			<key>code_erase</key>
			<string>code_erase</string>
			<key>code_num_act</key>
			<string>code_num_act</string>
			<key>code_ok</key>
			<string>code_ok</string>
			<key>discount_splash</key>
			<string>discount_splash</string>
			<key>discounts</key>
			<string>discounts</string>
			<key>favorite_active</key>
			<string>favorite_active</string>
			<key>favorite</key>
			<string>favorite</string>
			<key>filter_grid</key>
			<string>filter_grid</string>
			<key>filter_ok</key>
			<string>filter_ok</string>
			<key>filter</key>
			<string>filter</string>
			<key>lock</key>
			<string>lock</string>
			<key>offers</key>
			<string>offers</string>
			<key>pin_1</key>
			<string>pin_1</string>
			<key>pin_2</key>
			<string>pin_2</string>
			<key>pin_3</key>
			<string>pin_3</string>
			<key>pin_4</key>
			<string>pin_4</string>
			<key>pin_5</key>
			<string>pin_5</string>
			<key>pin_6</key>
			<string>pin_6</string>
			<key>pin_7</key>
			<string>pin_7</string>
			<key>pin_8</key>
			<string>pin_8</string>
			<key>pin_9</key>
			<string>pin_9</string>
			<key>pin_10</key>
			<string>pin_10</string>
			<key>quote</key>
			<string>quote</string>
			<key>search_white</key>
			<string>search_white</string>
			<key>search</key>
			<string>search</string>
			<key>tools_call</key>
			<string>tools_call</string>
			<key>tools_directions</key>
			<string>tools_directions</string>
			<key>tools_web</key>
			<string>tools_web</string>
			<key>address_call</key>
			<string>address_call</string>
			<key>address_home</key>
			<string>address_home</string>
			<key>address_mail</key>
			<string>address_mail</string>
			<key>address_webiste</key>
			<string>address_webiste</string>
			<key>call_us</key>
			<string>call_us</string>
			<key>edit</key>
			<string>edit</string>
			<key>email_us</key>
			<string>email_us</string>
			<key>go_to_website</key>
			<string>go_to_website</string>
			<key>show_directions</key>
			<string>show_directions</string>
			<key>white_arrow_back</key>
			<string>white_arrow_back</string>
		</dict>
		<key>Fonts</key>
		<dict>
			<key>type-one-regular</key>
			<string>Lato-Regular</string>
			<key>type-two-bold</key>
			<string>Roboto-Bold</string>
			<key>type-two-italic</key>
			<string>Roboto-Italic</string>
			<key>type-two-light</key>
			<string>Roboto-Light</string>
		</dict>
	</dict>
</dict>
</plist>
